<ion-modal-view>
    <ion-content class="news-content-wrap" ng-controller="NewsContentCtrl" has-bouncing="false">
        <div class="news-content-header" back-img="img/michel.jpg">
            <div class="card-backdrop"></div>
        </div>
        <div class="close-wrap">
            <span class="icon ion-ios-close-empty" ng-click="closeModal()"></span>
        </div>
        <div class="save-wrap">
            <span class="icon ion-ios-cloud-download-outline"></span>
        </div>
        <h1 class="news-title">
            Michel Temer é preso em operação da PF
        </h1>
        <h2 class="news-lead">O presidente foi alvo de um mandado de prisão preventiva e conduzido para Curitiba na manhã de hoje.</h2>
        <div class="publisher-area">
            <div class="publisher-info">
                <div class="pub-image">
                    A
                </div>
                <div class="pub-desc">
                    <p><b>AgroTech</b></p>
                    <p>by <b>John Smith</b></p>
                    <p>on <b>11/08/2017</b></p>
                </div>
            </div>
            <div class="follow-btn border-red red">
                <span class="icon ion-ios-plus-empty"></span>
                <span>Follow</span>
            </div>
        </div>
        <div class="news-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et elit lobortis, porta eros eu, tempor ipsum. Suspendisse potenti. Nullam a augue a tortor mattis pellentesque ac ut purus. Integer gravida iaculis sapien, quis aliquet nibh varius nec. Mauris nisl lectus, accumsan et tristique et, elementum vel orci. Duis metus orci, tempor ac euismod ac, euismod nec dui. Vivamus semper quam vel sodales condimentum. Nullam cursus metus vel magna semper sagittis. Nulla id lobortis diam, ac commodo urna. Suspendisse mollis diam et facilisis tristique.</p>

            <p>Quisque id euismod metus. Fusce molestie metus in neque finibus ullamcorper. Vestibulum in semper dolor, a dictum ipsum. Donec sed hendrerit neque, eget placerat odio. Suspendisse nisl mauris, cursus quis mi eget, tempor hendrerit arcu. Etiam sed magna in ante fermentum placerat quis id ante. Nam gravida in odio eu pulvinar. Vestibulum at consequat risus. Vestibulum nec orci consectetur, tristique turpis dignissim, convallis tortor. Vestibulum hendrerit neque id elit placerat aliquet. Integer et sapien vel ipsum varius bibendum vel a nibh. In vehicula elit sit amet nulla hendrerit, sit amet placerat lacus ullamcorper.</p>
        </div>
        <div class="up-area">
            <div class="up-button">
                <span class="icon ion-arrow-up-a"></span>
            </div>
            <div class="up-info">
                <h3 class="red">Up this article</h3>
                <p>3.2K people have upped it.</p>
            </div>
        </div>
        <div class="category-title">
            <span class="category-icon ion-edit blue"></span>
            <span class="caption">More from AgroPlus</span>
        </div>
        <ion-scroll direction="x">
            <div class="category-carousel">
                <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
                    <div class="card-backdrop-bottom"></div>
                    <h1 class="title">Michel Temer renuncia</h1>
                    <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
                </div>
                <div class="news-card texted">
                    <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
                    <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
                </div>
            </div>
        </ion-scroll>
        <div class="category-title">
            <div class="ball bg-red"></div>
            <span class="caption">Trending on Politics</span>
        </div>
        <ion-scroll direction="x">
            <div class="category-carousel">
                <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
                    <div class="card-backdrop-bottom"></div>
                    <h1 class="title">Michel Temer renuncia</h1>
                    <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
                </div>
                <div class="news-card texted">
                    <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
                    <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
                </div>
            </div>
        </ion-scroll>
        <div class="category-title">
            <span class="category-icon ion-ios-paper red"></span>
            <span class="caption">Follow your feed</span>
        </div>
        <ion-scroll direction="x">
            <div class="category-carousel">
                <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
                    <div class="card-backdrop-bottom"></div>
                    <h1 class="title">Michel Temer renuncia</h1>
                    <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
                </div>
                <div class="news-card texted">
                    <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
                    <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-modal-view>