<ion-view view-title="Saved">
    <ion-content>
        <div class="news-card" back-img="img/49ers.jpeg" ng-click="openFlash()">
          <div class="card-backdrop-bottom"></div>
            <div class="caption-wrap">
                <div class="ball bg-red"></div>
                <span class="caption">Sports</span>
            </div>
            <h1 class="title">San Francisco 49ers advance to the finals!</h1>
            <p class="author"><span class="bold">Sam Oakman</span> <span class="spot">•</span> Fanatics for sports</p>
        </div>
        <div class="news-card texted">
            <div class="caption-wrap">
              <div class="ball bg-blue"></div>
              <span class="caption">Saved</span>
            </div>
            <h1 class="title">Saved title</h1>
            <p class="author"><span class="bold">Sam Oakman</span> <span class="spot">•</span> TheDay</p>
        </div>
        <div class="news-card texted">
            <div class="caption-wrap">
              <div class="ball bg-blue"></div>
              <span class="caption">Saved</span>
            </div>
            <h1 class="title">Saved title</h1>
            <p class="author"><span class="bold">Sam Oakman</span> <span class="spot">•</span> TheDay</p>
        </div>
        <div class="news-card texted">
            <div class="caption-wrap">
              <div class="ball bg-blue"></div>
              <span class="caption">Saved</span>
            </div>
            <h1 class="title">Saved title</h1>
            <p class="author"><span class="bold">Sam Oakman</span> <span class="spot">•</span> TheDay</p>
        </div>
    </ion-content>
</ion-view>