<ion-view view-title="Newspaper">
  <ion-content>
    <div class="news-card" back-img="img/49ers.jpeg" ng-click="openFlash()">
      <div class="card-backdrop-bottom"></div>
        <div class="caption-wrap">
          <div class="ball bg-red"></div>
          <span class="caption">Sports</span>
        </div>
        <h1 class="title">San Francisco 49ers advance to the finals!</h1>
        <p class="author"><span class="bold">Sam Oakman</span> <span class="spot">•</span> Fanatics for sports</p>
    </div>
    <div class="news-card texted">
        <div class="caption-wrap">
          <div class="ball bg-green"></div>
          <span class="caption">Politics</span>
        </div>
        <h1 class="title">REAL-TIME ELECTION RESULTS: San Mateo County's Nov. 2017 Races</h1>
        <p class="author"><span class="bold">John Smith</span> <span class="spot">•</span>MenloToday</p>
    </div>
    <div class="news-card texted">
        <div class="caption-wrap">
          <div class="ball bg-blue"></div>
          <span class="caption">Leisure</span>
        </div>
        <h1 class="title">Park named after local WW2 hero</h1>
        <p class="author"><span class="bold">Sam Oakman</span> <span class="spot">•</span> Fanatics for sports</p>
    </div>
    <div class="news-card" back-img="img/pumpkins.jpg" ng-click="openFlash()">
      <div class="card-backdrop-bottom"></div>
        <div class="caption-wrap">
          <div class="ball bg-red"></div>
          <span class="caption">Agriculture</span>
        </div>
        <h1 class="title">New plague causes serious pumpkin shortage</h1>
        <p class="author"><span class="bold">Reynolds Pump</span> <span class="spot">•</span> AgroAll</p>
    </div>
    <div class="news-card texted">
        <div class="caption-wrap">
          <div class="ball bg-red"></div>
          <span class="caption">Sports</span>
        </div>
        <h1 class="title">Carlsen defens his title in the World Chess Championship once again</h1>
        <p class="author"><span class="bold">Mel Gribb</span> <span class="spot">•</span> All Chess</p>
    </div>
  </ion-content>
</ion-view>
