<ion-view view-title="Categories">
  <ion-content>
    <div class="category-title">
        <span class="category-icon ion-earth cyan"></span>
        <span class="caption">Nearby</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card" back-img="img/usa.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">REAL-TIME ELECTION RESULTS: San Mateo County's Nov. 2017 Races</h1>
                <p class="author"><span class="bold">John Smith</span> <span class="spot">•</span> MenloToday</p>
            </div>
            <div class="news-card" back-img="img/bridge.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Crash On Dumbarton Bridge Slows Traffic</h1>
                <p class="author"><span class="bold">Logan Harrington</span> <span class="spot">•</span> Menlo Park Patch</p>
            </div>
            <div class="news-card" back-img="img/police.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Armed Robber Sought In Peninsula Hold-Up</h1>
                <p class="author"><span class="bold">Roberts Waine</span> <span class="spot">•</span> California Today</p>
            </div>
        </div>
    </ion-scroll> 

    <div class="category-title">
        <span class="category-icon ion-ios-flame orange"></span>
        <span class="caption">Trending now</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card" back-img="img/nk.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Why Relying on China to Stop North Korea May Not Work</h1>
                <p class="author"><span class="bold">Dwaine Tyrone</span> <span class="spot">•</span>GoodToGo</p>
            </div>
            <div class="news-card" back-img="img/uber.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Brazil Becomes Uber’s Latest Regulatory Battleground</h1>
                <p class="author"><span class="bold">Samuel Jones</span> <span class="spot">•</span> Latin All Day</p>
            </div>
            <div class="news-card" back-img="img/trump.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Pre-Trump vs. Post-Trump: How Americans Feel Now</h1>
                <p class="author"><span class="bold">Simon Ray</span> <span class="spot">•</span> Daily Politics</p>
            </div>
        </div>
    </ion-scroll>    
    <div class="category-title">
        <div class="ball bg-red"></div>
        <span class="caption">Agriculture</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card" back-img="img/cow.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Cows Will Grow Human Antibodies on New Facility in South Dakota</h1>
                <p class="author"><span class="bold">Kennedy Falcon</span> <span class="spot">•</span> agWeb</p>
            </div>
            <div class="news-card" back-img="img/pumpkins.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Heat wave causes serious pumpkin shortage</h1>
                <p class="author"><span class="bold">Reynolds Pump</span> <span class="spot">•</span> AgroAll</p>
            </div>
            <div class="news-card" back-img="img/cow_milk.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Who Will Milk Your Cows in 2025? </h1>
                <p class="author"><span class="bold">Robson Derrick</span> <span class="spot">•</span> FARM JOURNAL</p>
            </div>
        </div>
    </ion-scroll>
    <div class="category-title">
        <div class="ball bg-green"></div>
        <span class="caption">Daily News</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card" back-img="img/selena.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Selena Gomez hope singer is ‘cautious’ in reunion with Bieber
                </h1>
                <p class="author"><span class="bold">Tyler Ontley</span> <span class="spot">•</span> GossipMan</p>
            </div>
            <div class="news-card" back-img="img/mayor.jpeg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Liberian-American candidate becomes first black mayor in Montana</h1>
                <p class="author"><span class="bold">Kelly Holmes</span> <span class="spot">•</span> PoliticsFree</p>
            </div>
            <div class="news-card" back-img="img/class.jpeg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Teacher accused of sending nude photos, 'love notes' to student</h1>
                <p class="author"><span class="bold">Errick Johnson</span> <span class="spot">•</span> TheRabbit</p>
            </div>
        </div>
    </ion-scroll>
    <div class="category-title">
        <div class="ball bg-red"></div>
        <span class="caption">Las Vegas Shooting</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card" back-img="img/la2.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Las Vegas police again change timeline of mass shooting</h1>
                <p class="author"><span class="bold">Nicole Chavez</span> <span class="spot">•</span> ERF</p>
            </div>
            <div class="news-card" back-img="img/la.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Tale of 2 brothers: 1 victim, 1 rescuer in Vegas shooting</h1>
                <p class="author"><span class="bold">Christoff Rew</span> <span class="spot">•</span> CrimeSider</p>
            </div>
            <div class="news-card" back-img="img/la3.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Mystery man pays for 58 strangers' meals to honor Las Vegas shooting victims</h1>
                <p class="author"><span class="bold">Greg Herrington</span> <span class="spot">•</span> Altruism Web</p>
            </div>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>
