<ion-view view-title="Newspaper">
  <ion-content>
    <div class="news-card" back-img="img/michel.jpg">
      <div class="card-backdrop-bottom"></div>
      <div class="text-pack">
        <div class="caption-wrap">
          <div class="ball bg-red"></div>
          <span class="caption">Política</span>
        </div>
        <h1 class="title">Michel Temer renuncia</h1>
      </div>
    </div>
    <div class="card-holder">
      <div class="news-card half">
        <!-- <div class="card-backdrop-bottom"></div> -->
        <div class="text-pack">
          <div class="caption-wrap">
            <div class="ball bg-green"></div>
            <span class="caption">Cotidiano</span>
          </div>
          <h1 class="title">Capivaras da USP levam uma vida tranquila</h1>
        </div>
      </div>
      <div class="news-card half">
        <!-- <div class="card-backdrop-bottom"></div> -->
        <div class="text-pack">
          <div class="caption-wrap">
            <div class="ball bg-blue"></div>
            <span class="caption">Lazer</span>
          </div>
          <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
