<ion-view view-title="Saved">
    <ion-content>
        <div class="news-card" back-img="img/49ers.jpeg" ng-click="openFlash()">
          <div class="card-backdrop-bottom"></div>
            <div class="close-saved">
                <span class="ion-close"></span>
            </div>
            <h1 class="title">San Francisco 49ers beat the New York Giants to post first win of season</h1>
            <p class="author"><span class="bold">Sam Oakman</span> <span class="spot">•</span> Fanatics for sports</p>
        </div>
        <div class="news-card" back-img="img/guns.jpg" ng-click="openFlash()">
          <div class="card-backdrop-bottom"></div>
            <div class="close-saved">
                <span class="ion-close"></span>
            </div>
            <h1 class="title">Guns and the ‘Price We Pay for Freedom’</h1>
            <p class="author"><span class="bold">Patrick Blanchfield</span> <span class="spot">•</span> NewTime</p>
        </div>
        <div class="news-card" back-img="img/nj.jpg" ng-click="openFlash()">
          <div class="card-backdrop-bottom"></div>
            <div class="close-saved">
                <span class="ion-close"></span>
            </div>
            <h1 class="title">New Jersey’s Next Governor: A Political Newbie With Progressive Roots</h1>
            <p class="author"><span class="bold"> NICK CORASANITI</span> <span class="spot">•</span> DailyDay</p>
        </div>
        <div class="news-card" back-img="img/bump.jpg" ng-click="openFlash()">
          <div class="card-backdrop-bottom"></div>
            <div class="close-saved">
                <span class="ion-close"></span>
            </div>
            <h1 class="title">Why the Push to Ban Rifle ‘Bump Stocks’ Has Slowed</h1>
            <p class="author"><span class="bold"> SHERYL GAY STOLBERG</span> <span class="spot">•</span> Counsellor</p>
        </div>
    </ion-content>
</ion-view>