<ion-view view-title="News">
  <ion-content>
    <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
      <div class="card-backdrop-bottom"></div>
        <div class="caption-wrap">
          <div class="ball bg-red"></div>
          <span class="caption">Política</span>
        </div>
        <h1 class="title">Michel Temer renuncia</h1>
        <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
    </div>
    <div class="news-card texted">
        <div class="caption-wrap">
          <div class="ball bg-green"></div>
          <span class="caption">Cotidiano</span>
        </div>
        <h1 class="title">Capivaras da USP levam uma vida tranquila</h1>
        <p class="author"><span class="bold">Fabio K.</span> <span class="spot">•</span> Jornal do Campus</p>
    </div>
    <div class="news-card texted">
        <div class="caption-wrap">
          <div class="ball bg-blue"></div>
          <span class="caption">Lazer</span>
        </div>
        <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
        <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
    </div>
  </ion-content>
</ion-view>
