<ion-view view-title="Categories">
  <ion-content>
    <div class="category-title">
        <span class="category-icon ion-earth cyan"></span>
        <span class="caption">Nearby</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Michel Temer renuncia</h1>
                <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
            </div>
            <div class="news-card texted">
                <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
                <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
            </div>
        </div>
    </ion-scroll> 

    <div class="category-title">
        <span class="category-icon ion-ios-flame orange"></span>
        <span class="caption">Trending now</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Michel Temer renuncia</h1>
                <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
            </div>
            <div class="news-card texted">
                <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
                <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
            </div>
        </div>
    </ion-scroll>    
    <div class="category-title">
        <div class="ball bg-red"></div>
        <span class="caption">2016 Elections</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card texted">
                <h1 class="title">Capivaras da USP levam uma vida tranquila</h1>
                <p class="author"><span class="bold">Fabio K.</span> <span class="spot">•</span> Jornal do Campus</p>
            </div>
            <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Michel Temer renuncia</h1>
                <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
            </div>
            <div class="news-card texted">
                <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
                <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
            </div>
        </div>
    </ion-scroll>
    <div class="category-title">
        <div class="ball bg-green"></div>
        <span class="caption">Daily News</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Michel Temer renuncia</h1>
                <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
            </div>
            <div class="news-card texted">
                <h1 class="title">Capivaras da USP levam uma vida tranquila</h1>
                <p class="author"><span class="bold">Fabio K.</span> <span class="spot">•</span> Jornal do Campus</p>
            </div>
            <div class="news-card texted">
                <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
                <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
            </div>
        </div>
    </ion-scroll>
    <div class="category-title">
        <div class="ball bg-red"></div>
        <span class="caption">Las Vegas Shooting</span>
    </div>
    <ion-scroll direction="x">
        <div class="category-carousel">
            <div class="news-card texted">
                <h1 class="title">Conheça 35 cachoeiras no entorno do Butantã</h1>
                <p class="author"><span class="bold">Robson Silva</span> <span class="spot">•</span> Butantã Diário</p>
            </div>
            <div class="news-card" back-img="img/michel.jpg" ng-click="openFlash()">
                <div class="card-backdrop-bottom"></div>
                <h1 class="title">Michel Temer renuncia</h1>
                <p class="author"><span class="bold">Leonardo Padilha</span> <span class="spot">•</span> Observatório Brasília</p>
            </div>
            <div class="news-card texted">
                <h1 class="title">Capivaras da USP levam uma vida tranquila</h1>
                <p class="author"><span class="bold">Fabio K.</span> <span class="spot">•</span> Jornal do Campus</p>
            </div>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>
